body{
    font-size:12px;
}
.calendar_wrap{
    position:relative;
    display:inline-block;
    zoom:1;

}
.calendar_input{
    border:1px solid #E4E4E4;
}
.calendar_icon{
    width:20px;
    height:15px;
    position:absolute;
    right:3px;
    top:50%;
    margin-top:-7.5px;
    background-image:url(/image/calender-icon.png);
    background-repeat: no-repeat;
}
.calendar_icon_begin{
    background-position:  -37px -76px;
}
.calendar_icon_end{
    background-position:  -37px -91px;
}
.calendar_box{
    position:absolute;
    border-width:1px;
    border-style: solid;
    border-color:#85BEE5 #3485C0;
    padding:10px 35px 15px;
    background-color:#fff;
    display:none;
}
.calendar_btn span{
    background-image:url(/image/calender-icon.png);
    background-repeat: no-repeat;
    font-size:0px;
    line-height:0px;
    _text-indent:-100px;
    position:absolute;
}
.btn_close{
    width:17px;
    height:17px;
    top:10px;
    right:10px;
    background-position:-40px 0;
    cursor:pointer;
}
.arrow_prev{
    width:20px;
    height:38px;
    background-position:0 0;
    top:50%;
    left:5px;
    margin-top:-19px;
    cursor:pointer;
}
.arrow_next{
    width:20px;
    height:38px;
    background-position:-20px 0;
    top:50%;
    right:5px;
    margin-top:-19px;
    cursor:pointer;
}
.arrow_prev_disabled{
    background-position:0 -38px;
    cursor:default;
}
.arrow_next_disabled{
    background-position:-20px -38px;
    cursor:default;
}
#C_begin{
    width:180px;
    height:20px;
}
#C_end{
    width:200px;
    height:20px;
}
.date_box_title{
    font:bold 12px/2 Arial;
    text-align:center;
    color:#5f5f5f;
    border-bottom:1px solid #E4E4E4;
    margin:0;
}
.date_table{
    border-collapse: collapse;
}
.date_table td{
    text-align:center;
    color:#5F5F5F;
    width:25px;
    height:22px;
    padding:0;
}
.date_table td a{
    display:block;
    width:25px;
    height:22px;
    line-height:22px;
    text-align: center;
    cursor:pointer
}
.date_table td.between a{
    background-color:#d9f2ff
}
.calendar_box_begin .date_table td a:hover,.date_table td.blueDate a{
    background-color:#5792dc
}
.calendar_box_end .date_table td a:hover,.date_table td.yellowDate{
    background-color:#e2ad44
}
.date_table td.disabled a{
    background-color:#FAFAFA;
    cursor:default;
}
.date_table td.during a{
    background-color:#bbddf4;
}
.date_table tbody td{
    border:1px solid #ccc;
}

/*holidays*/
.date_table td .holiday{
    background-image:url(/image/holiday.png);
    background-repeat: no-repeat
}
.date_table .h_yd .holiday{
    background-position:0 0
}
.calendar_box_begin .date_table .h_yd .holiday:hover,.date_table .h_yd_blueDate .holiday{
    background-position:-25px 0
}
.calendar_box_end .date_table .h_yd .holiday:hover,.date_table .h_yd_yellowDate .holiday{
    background-position:-50px 0
}
.date_table .h_yd_between .holiday{
    background-position:-75px 0
}
.date_table .h_yd_during .holiday{
    background-position:-100px 0
}
.date_table .h_yd_disabled .holiday{
    background-position:-125px 0
}

.date_table .h_cx .holiday{
    background-position:0 -22px
}
.calendar_box_begin .date_table .h_cx .holiday:hover,.date_table .h_cx_blueDate .holiday{
    background-position:-25px -22px
}
.calendar_box_end .date_table .h_cx .holiday:hover,.date_table .h_cx_yellowDate .holiday{
    background-position:-50px -22px
}
.date_table .h_cx_between .holiday{
    background-position:-75px -22px
}
.date_table .h_cx_during .holiday{
    background-position:-100px -22px
}
.date_table .h_cx_disabled .holiday{
    background-position:-125px -22px
}

.date_table .h_cj .holiday{
    background-position:0 -44px
}
.calendar_box_begin .date_table .h_cj .holiday:hover,.date_table .h_cj_blueDate .holiday{
    background-position:-25px -44px
}
.calendar_box_end .date_table .h_cj .holiday:hover,.date_table .h_cj_yellowDate .holiday{
    background-position:-50px -44px
}
.date_table .h_cj_between .holiday{
    background-position:-75px -44px
}
.date_table .h_cj_during .holiday{
    background-position:-100px -44px
}
.date_table .h_cj_disabled .holiday{
    background-position:-125px -44px
}

.date_table .h_yx .holiday{
    background-position:0 -66px
}
.calendar_box_begin .date_table .h_yx .holiday:hover,.date_table .h_yx_blueDate .holiday{
    background-position:-25px -66px
}
.calendar_box_end .date_table .h_yx .holiday:hover,.date_table .h_yx_yellowDate .holiday{
    background-position:-50px -66px
}
.date_table .h_yx_between .holiday{
    background-position:-75px -66px
}
.date_table .h_yx_during .holiday{
    background-position:-100px -66px
}
.date_table .h_yx_disabled .holiday{
    background-position:-125px -66px
}

.date_table .h_qm .holiday{
    background-position:0 -88px
}
.calendar_box_begin .date_table .h_qm .holiday:hover,.date_table .h_qm_blueDate .holiday{
    background-position:-25px -88px
}
.calendar_box_end .date_table .h_qm .holiday:hover,.date_table .h_qm_yellowDate .holiday{
    background-position:-50px -88px
}
.date_table .h_qm_between .holiday{
    background-position:-75px -88px
}
.date_table .h_qm_during .holiday{
    background-position:-100px -88px
}
.date_table .h_qm_disabled .holiday{
    background-position:-125px -88px
}

.date_table .h_wy .holiday{
    background-position:0 -110px
}
.calendar_box_begin .date_table .h_wy .holiday:hover,.date_table .h_wy_blueDate .holiday{
    background-position:-25px -110px
}
.calendar_box_end .date_table .h_wy .holiday:hover,.date_table .h_wy_yellowDate .holiday{
    background-position:-50px -110px
}
.date_table .h_wy_between .holiday{
    background-position:-75px -110px
}
.date_table .h_wy_during .holiday{
    background-position:-100px -110px
}
.date_table .h_wy_disabled .holiday{
    background-position:-125px -110px
}

.date_table .h_dw .holiday{
    background-position:0 -132px
}
.calendar_box_begin .date_table .h_dw .holiday:hover,.date_table .h_dw_blueDate .holiday{
    background-position:-25px -132px
}
.calendar_box_end .date_table .h_dw .holiday:hover,.date_table .h_dw_yellowDate .holiday{
    background-position:-50px -132px
}
.date_table .h_dw_between .holiday{
    background-position:-75px -132px
}
.date_table .h_dw_during .holiday{
    background-position:-100px -132px
}
.date_table .h_dw_disabled .holiday{
    background-position:-125px -132px
}

.date_table .h_zq .holiday{
    background-position:0 -154px
}
.calendar_box_begin .date_table .h_zq .holiday:hover,.date_table .h_zq_blueDate .holiday{
    background-position:-25px -154px
}
.calendar_box_end .date_table .h_zq .holiday:hover,.date_table .h_zq_yellowDate .holiday{
    background-position:-50px -154px
}
.date_table .h_zq_between .holiday{
    background-position:-75px -154px
}
.date_table .h_zq_during .holiday{
    background-position:-100px -154px
}
.date_table .h_zq_disabled .holiday{
    background-position:-125px -154px
}

.date_table .h_gq .holiday{
    background-position:0 -176px
}
.calendar_box_begin .date_table .h_gq .holiday:hover,.date_table .h_gq_blueDate .holiday{
    background-position:-25px -176px
}
.calendar_box_end .date_table .h_gq .holiday:hover,.date_table .h_gq_yellowDate .holiday{
    background-position:-50px -176px
}
.date_table .h_gq_between .holiday{
    background-position:-75px -176px
}
.date_table .h_gq_during .holiday{
    background-position:-100px -176px
}
.date_table .h_gq_disabled .holiday{
    background-position:-125px -176px
}

.date_table .h_jt .holiday{
    background-position:0 -198px
}
.calendar_box_begin .date_table .h_jt .holiday:hover,.date_table .h_jt_blueDate .holiday{
    background-position:-25px -198px
}
.calendar_box_end .date_table .h_jt .holiday:hover,.date_table .h_jt_yellowDate .holiday{
    background-position:-50px -198px
}
.date_table .h_jt_between .holiday{
    background-position:-75px -198px
}
.date_table .h_jt_during .holiday{
    background-position:-100px -198px
}
.date_table .h_jt_disabled .holiday{
    background-position:-125px -198px
}





