body{
    font-size:12px;
}
.calendar_wrap{
    position:relative;
    display:inline-block;
    zoom:1;

}
.calendar_input{
    border:1px solid #E4E4E4;
}
.calendar_icon{
    width:20px;
    height:15px;
    position:absolute;
    right:3px;
    top:50%;
    margin-top:-7.5px;
    background-image:url(/image/calender-icon.png);
    background-repeat: no-repeat;
}
.calendar_icon_begin{
    background-position:  -37px -76px;
}
.calendar_icon_end{
    background-position:  -37px -91px;
}
.calendar_box{
    position:absolute;
    border-width:1px;
    border-style: solid;
    border-color:#85BEE5 #3485C0;
    padding:10px 35px 15px;
    background-color:#fff;
    display:none;
}
.calendar_btn span{
    background-image:url(/image/calender-icon.png);
    background-repeat: no-repeat;
    font-size:0px;
    line-height:0px;
    _text-indent:-100px;
    position:absolute;
}
.btn_close{
    width:17px;
    height:17px;
    top:10px;
    right:10px;
    background-position:-40px 0;
    cursor:pointer;
}
.arrow_prev{
    width:20px;
    height:38px;
    background-position:0 0;
    top:50%;
    left:5px;
    margin-top:-19px;
    cursor:pointer;
}
.arrow_next{
    width:20px;
    height:38px;
    background-position:-20px 0;
    top:50%;
    right:5px;
    margin-top:-19px;
    cursor:pointer;
}
.arrow_prev_disabled{
    background-position:0 -38px;
    cursor:default;
}
.arrow_next_disabled{
    background-position:-20px -38px;
    cursor:default;
}
#C_begin{
    width:180px;
    height:20px;
}
#C_end{
    width:200px;
    height:20px;
}
.date_box_title{
    font:bold 12px/2 Arial;
    text-align:center;
    color:#5f5f5f;
    border-bottom:1px solid #E4E4E4;
    margin:0;
}
.date_table{
    border-collapse: collapse;
}
.date_table td{
    text-align:center;
    color:#5F5F5F;
    padding:0;
}
.date_table thead td{
    padding:4px 6px;
}
.date_table td a{
    display:block;
    padding:4px 6px;
    cursor:pointer
}
.date_table td a:hover{
    background-color:#8ACAE7
}
.date_table td.blueDate a{
    background-color:#8ACAE7
}
.date_table td.yellowDate a{
    background-color:#D8BF11
}
.date_table td.disabled a{
    background-color:#FAFAFA;
    cursor:default;
}
.date_table td.during a{
    background-color:#8ACAE7;
}
.date_table tbody td{
    border:1px solid #ccc;
}
