body, div, h2, ul, li {
  padding: 0;
  margin: 0; }

li {
  list-style-position: outside; }

.monthPicker_shell {
  position: absolute;
  z-index: 9999; }
  .monthPicker_shell .calendar_box {
    border-width: 1px;
    border-style: solid;
    border-color: #85BEE5 #3485C0;
    padding: 10px 15px;
    background-color: #fff;
    text-align: center;
    position: relative;
    display: none; }
    .monthPicker_shell .calendar_box h2 {
      font-size: 14px;
      position: relative;
      height: 30px;
      line-height: 30px; }
      .monthPicker_shell .calendar_box h2 .arrow_prev {
        display: inline-block;
        width: 0px;
        height: 0px;
        border-width: 15px 7px;
        border-style: solid;
        border-color: #5792DC transparent transparent transparent;
        cursor: pointer;
        -moz-transform: rotate(90deg);
        -webkit-transform: rotate(90deg);
        -ms-transform: rotate(90deg);
        transform: rotate(90deg);
        position: absolute;
        top: 0;
        left: 0; }
      .monthPicker_shell .calendar_box h2 .arrow_next {
        display: inline-block;
        width: 0px;
        height: 0px;
        border-width: 15px 7px;
        border-style: solid;
        border-color: #5792DC transparent transparent transparent;
        cursor: pointer;
        -moz-transform: rotate(-90deg);
        -webkit-transform: rotate(-90deg);
        -ms-transform: rotate(-90deg);
        transform: rotate(-90deg);
        position: absolute;
        right: 0;
        top: 0; }
    .monthPicker_shell .calendar_box .date_box .date_box_title {
      font: bold 12px/2 Arial;
      text-align: center;
      color: #5f5f5f;
      border-bottom: 1px solid #E4E4E4;
      margin: 0; }
    .monthPicker_shell .calendar_box .date_box .date_table {
      border-collapse: collapse; }
      .monthPicker_shell .calendar_box .date_box .date_table td {
        text-align: center;
        color: #5F5F5F;
        width: 54px;
        height: 32px;
        padding: 0;
        border: 1px solid #ccc;
        font-size: 14px; }
        .monthPicker_shell .calendar_box .date_box .date_table td a {
          display: block;
          line-height: 32px;
          text-align: center;
          cursor: pointer; }
    .monthPicker_shell .calendar_box .clear {
      height: 24px;
      text-align: center;
      line-height: 24px;
      padding: 0 10px;
      border: 1px solid #A6B3BD;
      border-radius: 5px;
      background-color: #eee;
      font-family: 'microsoft yahei';
      cursor: pointer;
      display: inline-block;
      margin: 10px auto 0; }
  .monthPicker_shell .calendar_box_begin td:not(.disabled) a:hover, .monthPicker_shell td.blueDate a {
    background-color: #5792dc; }
  .monthPicker_shell .calendar_box_end td:not(.disabled) a:hover, .monthPicker_shell td.yellowDate a {
    background-color: #e2ad44; }
  .monthPicker_shell .between a {
    background-color: #d9f2ff; }
  .monthPicker_shell .disabled a {
    background-color: #FAFAFA;
    color: #ccc;
    cursor: default; }
  .monthPicker_shell .during a {
    background-color: #bbddf4; }
  .monthPicker_shell .btn_close {
    background-image: url(../image/calender-icon.png);
    background-repeat: no-repeat;
    font-size: 0px;
    line-height: 0px;
    _text-indent: -100px;
    position: absolute;
    width: 17px;
    height: 17px;
    top: -10px;
    right: -10px;
    background-position: -40px 0;
    cursor: pointer; }

.monthPicker_shell_double {
  padding: 10px;
  background: #eee;
  display: none; }
  .monthPicker_shell_double .calendar_box {
    float: left; }
  .monthPicker_shell_double .btn_close {
    top: -5px;
    right: -5px; }
  .monthPicker_shell_double .buttons {
    clear: both;
    padding-top: 10px; }
    .monthPicker_shell_double .buttons span:nth-child(1) {
      margin-right: 30px; }
    .monthPicker_shell_double .buttons span:hover {
      background-color: #3D82BA;
      color: #fff; }
    .monthPicker_shell_double .buttons .sure {
      height: 24px;
      text-align: center;
      line-height: 24px;
      padding: 0 10px;
      border: 1px solid #A6B3BD;
      border-radius: 5px;
      background-color: #eee;
      font-family: 'microsoft yahei';
      cursor: pointer;
      display: inline-block;
      background-color: #6AB8F7;
      color: #fff;
      float: right; }
    .monthPicker_shell_double .buttons .clear {
      height: 24px;
      text-align: center;
      line-height: 24px;
      padding: 0 10px;
      border: 1px solid #A6B3BD;
      border-radius: 5px;
      background-color: #eee;
      font-family: 'microsoft yahei';
      cursor: pointer;
      display: inline-block; }
      .monthPicker_shell_double .buttons .clear:hover {
        background-color: #3D82BA;
        color: #fff; }

/*# sourceMappingURL=monthPicker.css.map */
